.profile__add-button {
  padding: 0;
  width: 150px;
  height: 50px;
  margin-top: 35px;
  margin-bottom: 35px;
  border: 2px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
  background-image: url(../../../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.profile__add-button:hover {
  opacity: 0.6;
}
@media (max-width: 768px) {
  .profile__add-button {
    width: 282px;
    margin: auto;
    background-size: 16px 16px;
  }
}
