.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  padding-top: 20px;
  max-width: 294px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    padding-top: 27px;
    padding-left: 48px;
  }
}
