.popup__close-button {
  position: absolute;
  top: -38px;
  right: -38px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/CloseIcon.svg);
  cursor: pointer;
}
.popup__close-button:hover {
  opacity: 0.6;
}
@media (max-width: 768px) {
  .popup__close-button {
    top: -35px;
    right: -1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
