.profile__info {
  max-width: 340px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 7fr 1fr;
}
@media (max-width: 320px) {
  .profile__info {
    margin: auto;
    max-width: 282px;
  }
}
